<% layout('/layouts/boilerplate') %>

    <!-- ================= FILTER BAR ================= -->
    <!-- FILTERS -->
    <div id="filters" class="container-fluid mt-3">
        <a href="/listings?category=Trending" class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </a>

        <a href="/listings?category=Rooms" class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </a>

        <a href="/listings?category=Iconic City" class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic City</p>
        </a>

        <a href="/listings?category=Mountains" class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
        </a>

        <a href="/listings?category=Castles" class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </a>

        <a href="/listings?category=Amazing Pools" class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Pools</p>
        </a>

        <a href="/listings?category=Camping" class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </a>

        <a href="/listings?category=Farm" class="filter">
            <i class="fa-solid fa-cow"></i>
            <p>Farm</p>
        </a>

        <a href="/listings?category=Snow" class="filter">
            <i class="fa-solid fa-snowman"></i>
            <p>Snow</p>
        </a>

        <!-- TAX TOGGLE -->
        <div class="tax-toggle ms-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="checkNativeSwitch">
                <label class="form-check-label" for="checkNativeSwitch">
                    Total after tax
                </label>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-3 listing-grid">
        <!-- class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" this was replaced in above div -->
        <!-- row-cols-lg-3 means 3 cards will be there on lg and on md 2 and on small 1 -->

        <% for (let listing of listings) { %>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card h-100">

                        <img src="<%=listing.image.url%>" class="card-img-top listing-img">

                        <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=listing.title%>
                                </b><br>
                                &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night
                                    <i class="tax-info">&nbsp;+18% GST</i>
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <% } %>

    </div>
    <!-- </body> -->


    <script>
        const taxswitch = document.getElementById("checkNativeSwitch");
        taxswitch.addEventListener("click", () => {
            const taxinfo = document.getElementsByClassName("tax-info");
            for (let info of taxinfo) {
                info.style.display = info.style.display === "inline" ? "none" : "inline";
            }
        });
    </script>